@model Employee

<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Delete Employee</h2>
    </div>

    <form method="post" asp-action="DeleteEmp">
        <input asp-for="_id" hidden />
        <div asp-validation-summary="All"></div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="name">Employee Name</label>
                <input type="text" class="form-control mb-3" asp-for="name" disabled>
                <span asp-validation-for="name" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="designation">Designation</label>
                <input type="text" class="form-control mb-3" asp-for="designation" disabled>
                <span asp-validation-for="designation" class=" alert-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="address">Address</label>
                <input type="text" class="form-control mb-3" asp-for="address" disabled>
                <span asp-validation-for="address" class=" alert-danger"></span>
            </div>
            
        </div>
         

        <button type="submit" class="btn btn-lg btn-danger p-2"><i class="bi bi-trash-fill"></i>Delete</button>
        <a asp-controller="Employee" asp-action="Index" class="btn btn-lg btn-warning p-2">Back To List</a>
    </form>

</div>


@*//for front end validations*@

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
